body{
    height: 29.7cm;
    font-size: 11px;
}

@page {
    size: A4;
    margin: 0.5cm;
}

.job-header {
    display: flex;
    justify-content: space-between;
}

.smaller-font {
    font-size: smaller;
}

.details-container {
    display: flex;
    justify-content: space-between;
    column-gap: 15px;
}

.details {
    flex: 1;
}

.summary {
    flex: 3;
}

ul {
    padding-left: 15px;
}
